nextflow
.nextflow.log
.nextflow/
work/
*.html
nextseq-report/demultiplexing_report_files/
trace.txt
seq_dir
output/
*SampleSheet.csv*
output*
.Rproj.user/
*.Rproj
trace.txt.*
.nextflow.log.*
nextflow-report.html.*
timeline-report.html.*
